h1 {
  margin-top: 20px;
}

a {
  display: block;
  margin-top: 30px;
  text-decoration: none;
  transition: transform 0.3s;
  &:hover {
    transform: scale(1.1);
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px white, -1px -1px 1px white, -1px 1px 1px white,
      1px -1px 1px white;
    transition: all 0.6s;
  }
}

h1,
h3,
a {
  color: white;
  text-align: center;
}

.user-input {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100vw;
  bottom: 40px;

  &:hover > input {
    transform: scaleX(100%);
  }

  input {
    transform: scaleX(5%);
    background-color: #727272;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: all 1s;
    width: 90px;
    text-align: center;
  }
}
