@if (mp() > 0 && mp() === +mpByUser) {
<h1>Ici, tu es libre Michael!</h1>
} @else {
<h1>Hello! Je m'appelle Michael Cornillon</h1>
<h3>Je suis développeur et formateur Angular</h3>

<app-text-scramble-effect>
  @for (originalText of textToScramble; track $index) {
  <p #text>{{ originalText }}</p>
  }
</app-text-scramble-effect>

<a
  href="mailto:ei.dwaps@gmail.com?subject=Michael,%20je%20te%20veux%20dans%20mon%20entreprise!&body=Exprimez-vous%20sur%20le%20sujet.%20Vous%20avez%20deux%20heures...🧐"
  >{{ "ei.dwaps@gmail.com" }}</a
>

<div class="user-input">
  <input
    type="password"
    #mpUserInput
    placeholder="🔒"
    (blur)="mpByUser = mpUserInput.value; mpUserInput.value = ''"
  />
</div>
}
