h1 {
  margin-top: 20px;
}

a {
  display: block;
  margin-top: 30px;
  text-decoration: none;
  transition: transform 0.3s;
  &:hover {
    transform: scale(1.1);
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px white, -1px -1px 1px white, -1px 1px 1px white,
      1px -1px 1px white;
    transition: all 0.6s;
  }
}

h1,
h3,
a {
  color: white;
  text-align: center;
}

.user-input {
  display: flex;
  background-color: red;
  justify-content: center;
  position: absolute;
  width: 100vw;
  bottom: 40px;

  &:hover > input {
    transform: scale(100%) scaleX(100%);
    box-shadow: none;
    border-radius: 10px;
    &::placeholder {
      transform: scale(3);
      transition: transform 0.6s cubic-bezier(0.29, 0.08, 0.46, 1.63);
    }
  }

  input {
    transform: scale(50%) scaleX(50%);
    cursor: pointer;
    background-color: #727272;
    color: #727272;
    border-radius: 5px;
    outline: none;
    transition: border 0.4s ease-in,
      all 0.3s cubic-bezier(0.29, 0.08, 0.08, 1.42);
    width: 90px;
    height: 70px;
    text-align: center;
    box-shadow: 1px 1px 8px #fff, -1px 1px 8px #fff, 1px -1px 8px #fff,
      -1px -1px 8px #fff, 1px 1px 8px #fff inset, -1px 1px 8px #fff inset,
      1px -1px 8px #fff inset, -1px -1px 8px #fff inset;
    border: 1px solid #fff;
    &::placeholder {
      transform: scale(0);
      transition: transform 0.3s ease-in-out;
    }
  }
}
