.container {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.text {
  text-align: center;
  font-weight: 100;
  font-size: 28px;
  color: #fafafa;
}
.dud {
  text-align: center;
  color: #757575;
}
